include README.rst LICENSE MANIFEST.in camel_logo.png
include setup.py
include camel_tools/VERSION
include camel_tools/data/*.py
include camel_tools/utils/*.py
include camel_tools/utils/charmaps/*.json
include camel_tools/arclean/*.py
include camel_tools/morphology/*.py
include camel_tools/disambig/*.py
include camel_tools/tokenizers/*.py
include camel_tools/tagger/*.py
include camel_tools/dialectid/*.py
include camel_tools/ner/*.py
include camel_tools/sentiment/*.py
include camel_tools/cli/*.py
include tests/*.py
global-exclude *~
